<?xml version="1.0"?>

<model>
  <name>Box with April markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ZenonKoh</name>
    <email>zxudx@connect.ust.hk</email>
  </author>

  <description>
    Box with April. One on each side. 
  </description>
</model> 
